@model Cars.Core.Domain.Car

<h1>Create Car</h1>

<form asp-action="Create" method="post">
    <div>
        <label for="Make">Make</label>
        <input type="text" id="Make" name="Make" value="@Model?.Make" />
    </div>
    <div>
        <label for="Model">Model</label>
        <input type="text" id="Model" name="Model" value="@Model?.Model" />
    </div>
    <div>
        <label for="VehicleType">Vehicle Type</label>
        <input type="text" id="VehicleType" name="VehicleType" value="@Model?.VehicleType" />
    </div>
    <div>
        <label for="Fuel">Fuel</label>
        <input type="text" id="Fuel" name="Fuel" value="@Model?.Fuel" />
    </div>
    <button type="submit">Save</button>
</form>
